.form-group {
    clear:both;
    text-align:right;
    line-height:25px;
    font-weight: bold;
  }

.form-group.ng-touched.ng-invalid input{
  border: 2px, red;
}

 .form-style-8 {
  float:left;
  font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
  padding: 30px;
  background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
  }

  label {
    float:left;
    padding-right:10px;
  }

  .form-style-8 h2{
    background: rgb(66, 84, 245);
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #000000;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -10px -30px 30px -30px;
    text-align: center;
    font-weight: bold;
    position: relative
  }
  .form-style-8 input[type="text"],
  .form-style-8 input[type="file"],
  .form-style-8 input[type="datetime"],
  .form-style-8 input[type="email"],
  .form-style-8 input[type="number"],
  .form-style-8 input[type="search"],
  .form-style-8 input[type="time"],
  .form-style-8 input[type="url"],
  .form-style-8 input[type="password"],
  .form-style-8 textarea,
  .form-style-8 select
  {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
  }
  .form-style-8 textarea{
    resize: vertical;
    overflow: hidden;
    max-height: 200px;
    }


